.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid black;
    padding: 10px;
    
}

.post-img > img {
    border-radius: 20px !important;
   flex: 1;
    max-height: 200px
}

.post-body {
    
    flex: 1;
    padding: 10px
}

.footer-icons {
    display: flex;
    justify-content: space-between !important;
    margin-top: 10px;
    
}

.verified-icon {
    color: #50b7f5;
    font-size: 14px
}

.like-span:hover {
    color: red !important
}

.retweet-span:hover {
    color: green !important
}

.reply-span:hover{
    color:#50b7f5
}

.reply-btn {
    background-color: #50b7f5 !important;
    border-radius: 20px !important;
    color: white !important;
    font-weight: bold !important;
    height: 40px !important;
    width: 90px !important;
    text-transform: inherit !important;
    border: none !important;
    margin-left: 20px !important
}

.reply-input {
    
}