.shortuser-widget {
    display: flex;
    margin-top: 10px;
   flex-direction: row;
   justify-content: space-between;
}

.shortuser-avatar-container {
    margin-right: 10px;
   align-self: flex-start;
}



.shortuser-avatar-text {
    display: flex;
}

.shortuser-btn {
    background-color: transparent !important;
    border-radius: 20px !important;
    color: #50b7f5 !important;
    font-weight: bold !important;
    height: 40px !important;
    width: 90px !important;
    text-transform: inherit !important;
    border: 1px solid #50b7f5 !important;
    margin-left: 20px !important
}

.shortuser-btn:hover {
    background-color: #b0d4eb !important;
    transition: background-color 500ms ease-out !important;
  }